@import "tailwindcss";
@import "./font.css";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

input, select, button {
    outline: none;
}

html, body {
    width: 100vw;
    height: 100vh;
}
